h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.gridcontainer{
    display: grid;
    grid-template-columns: auto 960px auto;
    grid-auto-rows: 117px 1px auto 1px 80px;
    position: absolute;
    width: 100vw;
    left: 0;
    top: 0;
    right: 0;
    min-height: 100%;
}

.header {
    background-color: #ffffff;
    grid-column: span 3;
    grid-row: 1;
    border: hidden;
    border-bottom: solid;
    border-color: #cccccc;
    margin-top: -21px;
    /*height: 97.5%;*/
}


.yourname {
    padding: 25px 25px 25px 25px;
    background: #4aaaa5;
    color: #ffffff;
    width: auto;
}

.navigation{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    word-spacing: 10px;
    color: #4aaaa5;
}

.TopBox{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    align-items: baseline;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2;
    color: #777777;
    background-image: url("../images/papyrus.png");
    /*background-color: blue;*/
    height: 100%;
    width: 100%;
}


.content{
    background-color: #ffffff;
    border: 1px solid;
    border-color: #dddddd;
    padding: 1px 30px 20px 30px;
    width: 900px;
    margin: auto;
    grid-column: 2;
    grid-row: 3;
    font-size: 18px;
} 

.aboutme {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
    border: hidden;
    border-bottom: solid;
    border-color: #cccccc;
    padding-bottom: 10px;
    padding-top: 10px;
}

.button {
    border: none;
    text-align: center;
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
    font-size: inherit;
    text-decoration: none;
    color: inherit;
    font-size: inherit;
}

.button:hover{
    transition:0.4s;
    transform: scale(1.2);
    color: inherit;
    text-decoration: none;
    font-weight: bold;
}

footer{
    text-align: center;
    border-top: 8px solid #4aaaa5;
    color: white;
    background: gray;
    grid-column: span 3;
    grid-row: 5;
    padding-top: 20px;
    align-self: end;
    font-size: 12px;
}