h1 {
    background-color: #ffffff;
    border: hidden;
    border-bottom: solid;
    border-color: #cccccc;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.aboutme {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
    border: hidden;
    border-bottom: solid;
    border-color: #cccccc;
    padding-bottom: 10px;
}
.yourname {
    text-align: center;
    padding: 25px 0;
    background: #4aaaa5;
    color: #ffffff;
    width: 350px;
    
}
body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2;
    color: #777777;
    background-image: url("images/background.png");
}

.content{
    background-color: #ffffff;
    border: 1px solid;
    border-color: #dddddd;
    padding: 1px 30px 20px 30px;
    width: 960px;
    margin: auto;
} 